<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (C) 2008 ZXing authors

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.adamp.testchecker.client"
    android:installLocation="auto"
    android:versionCode="100"
    android:versionName="1.0.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
    <uses-feature android:name="android.hardware.touchscreen" />
    <!-- TODO make this not required again after android.hardware.camera.any is available -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:logo="@drawable/launcher_icon" >
        <activity
            android:name="pl.adamp.testchecker.client.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/capture_name"
            android:parentActivityName="pl.adamp.testchecker.client.MainActivity"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.adamp.testchecker.client.MainActivity" />
        </activity>
        <activity
            android:name="pl.adamp.testchecker.client.PreferencesActivity"
            android:label="@string/preferences_name"
            android:stateNotNeeded="true" >
        </activity>
        <activity
            android:name="pl.adamp.testchecker.client.HelpActivity"
            android:screenOrientation="user" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.adamp.testchecker.client.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:stateNotNeeded="true"
            android:theme="@style/FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.adamp.testchecker.client.CreateTestActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_create_test"
            android:parentActivityName="pl.adamp.testchecker.client.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.adamp.testchecker.client.MainActivity" />
        </activity>
        <activity
            android:name="pl.adamp.testchecker.client.TestResultsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_test_results"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="pl.adamp.testchecker.client.QuestionEditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_question_edit"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="pl.adamp.testchecker.client.TestResultsListActivity"
            android:label="@string/title_activity_test_results_list"
            android:parentActivityName="pl.adamp.testchecker.client.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.adamp.testchecker.client.MainActivity" />
        </activity>
        <activity
            android:name="pl.adamp.testchecker.client.StudentsListActivity"
            android:label="@string/title_activity_students_list"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" 
            android:parentActivityName="pl.adamp.testchecker.client.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.adamp.testchecker.client.MainActivity" />
        </activity>
        <activity
            android:name="pl.adamp.testchecker.client.StudentEditActivity"
            android:label="@string/title_activity_student_edit"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustPan" 
            android:parentActivityName="pl.adamp.testchecker.client.StudentsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.adamp.testchecker.client.StudentsListActivity" />
        </activity>
    </application>

</manifest>